<!-- <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <!-- Adicione o logo ou nome da aplicação 
      <img src="https://iili.io/2JYJjAQ.jpg" alt="Logo" height="50">
      <h1>FSC</h1>
    </ng-template>
  
    <ng-template pTemplate="end">
      <!-- Botão de login ou ações adicionais 
      <button pButton type="button" icon="pi pi-user" class="p-button-rounded p-button-info"></button>
    </ng-template>
  </p-menubar> -->


  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <!-- Logo  -->
      <img src="https://iili.io/2JYJjAQ.jpg" alt="logo" style="width: 100px;">
     
     
  
      <!-- Ícone de hambúrguer para abrir/fechar a sidebar -->
      <button pButton icon="pi pi-bars" class="p-button-text" (click)="toggleSidebar()"></button>
    </ng-template>
  </p-menubar>
  
  <!-- Sidebar -->
  <p-sidebar [(visible)]="sidebarVisible" [baseZIndex]="10000" position="left">
    <h3>Menu</h3>
    <ul>
      <li *ngFor="let item of items">
        <a [routerLink]="item.routerLink">{{ item.label }}</a>
      </li>
    </ul>
  </p-sidebar>
  